.mainRegister {
	min-height: 80vh;
	line-height: 3rem;
	text-align: center;
	padding: 1rem;
	background: #c2c1c1;
	width: auto;
	margin: auto;
}

.btn {
	border: none;
	border-radius: 10px;
	width: 80px;
	padding: 1rem 0;
}

input, label {
	width: 100%;
	display: block;
}

input[type=checkbox] {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	padding: 10px;
	margin: auto;
}

.btn:hover {
	background: #d12f2f;
	color: white;
}
